* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    background-color: white;
    height: 75.6px;
}

#navbar .logo {
    height: 75px;
    width: 150px;
    display: flex;
    align-items: center;
    position: relative;
    left: -8px;
    top: 3px;
}

#navbar .nav-menu {
    display: flex;
    height: 76px;
    position: relative;
    top: 13px;
    left: 66px;
    align-items: center;
    list-style: none;
}

#navbar .nav-menu li {
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-family: sans-serif;
}

#navbar .nav-menu ul {
    display: flex;
    gap: 35px;
}

#navbar .nav-menu ul li i {
    font-size: 10px;
    padding: 5px;
}

#navbar .nav-menu ul .menu:hover {
    color: rgb(35, 197, 197);
    transition: 0.3s;
}


#navbar .container .icons {
    position: absolute;
    right: 87px;
    top: 25px;
    display: flex;

}

#navbar .container .icons a {
    padding: 20px;
    font-size: 25px;
    color: black;
}



#navbar .container .icons .heart .heart-number {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 18px;
    right: 163px;
}




#navbar .container .icons .heart .heart-number span {
    color: white;
    position: absolute;
    left: 4px;
    top: -4px;
}


#navbar .container .icons .basket .basket-number {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 19px;
    right: 35px;
}

#navbar .container .icons .basket .basket-number span {
    color: white;
    position: absolute;
    left: 4px;
    top: -4px;
}


#slider .sliders {
    position: relative;
    width: 1920px;
    height: 770px;
}

#slider .sliders img {
    width: 1530px;
    height: 620px;
    position: absolute;
    top: 0px;
    z-index: -1;
}

#slider .sliders .texts {
    width: 500px;
    position: absolute;
    left: 100px;
    top: 150px;
}

#slider .sliders .texts .h1 {
    font-weight: bolder;
    font-size: 60px;
    transform: translateY(5%);
    animation: ani 2s forwards;
    font-family: sans-serif;
}

@keyframes ani {
    0% {
        transform: translateY(250%);
    }

    100% {
        transform: translateY(0);
    }
}


#slider .sliders .texts .p {
    font-size: 16px;
    font-family: sans-serif;
    animation: anim 3s;

}

@keyframes anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#slider .sliders .texts .button {
    position: absolute;
    font-family: sans-serif;
    border-radius: 30px;
    width: 130px;
    height: 45px;
    top: 265px;
    background-color: rgb(35, 197, 197);
    border: none;
    color: white;
    font-size: 15px;
}

#slider .sliders .slidernav .div1 {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(57, 208, 219);
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 5px;
  }
  
  #slider .sliders .slidernav .div2 {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 10px;
  }

  #slider .sliders .slidernav {
    background-color: white;
    width: 55px;
    height: 25px;
    border-radius: 25px;
  position: absolute;
  top: 540;
  left: 750;
  }

  #shop-info .container {
    width: 90%;
    height: 85px;
    background-color: white;
    margin: auto;
    position: relative;
  }
  
  #shop-info i {
    color: rgb(170, 170, 170);
    font-size: 40px;
    position: absolute;
    top: -814px;
  }



  #shop-info .truck{
    position: absolute;
    padding: 20px;
    left: 50px;
    top: 720px;
    font-size: 18px;
}

#shop-info .truck .truck-icon{
    font-size: 35px;
}
#shop-info .truck .truck-h5{
    position: absolute;
   top: -814px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}

#shop-info .truck .truck-text{
    position: absolute;
   top: -795px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}


#shop-info .call{
    position: absolute;
    padding: 20px;
    left: 300px;
    top: 720px;
    font-size: 18px;
}

#shop-info .call .call-icon{
    font-size: 35px;
}
#shop-info .call .call-h5{
    position: absolute;
   top: -814px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}
#shop-info .call .call-text{
    position: absolute;
   top: -795px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}



#shop-info .money{
    position: absolute;
    padding: 20px;
    right: 630px;
    top: 720px;
    font-size: 18px;
}

#shop-info .money .money-icon{
    font-size: 35px;
}

#shop-info .money .money-h5{
    position: absolute;
   top: -814px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}
#shop-info .money .money-text{
    position: absolute;
   top: -795px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}

#shop-info .gift{
    position: absolute;
    padding: 20px;
    right: 280px;
    top: 720px;
    font-size: 18px;
}

#shop-info .gift .gift-icon{
    font-size: 35px;
}


#shop-info .gift .gift-h5{
    position: absolute;
   top: -814px;
   left: 82px;
   width: 300px;
   font-size: 16px;
}
#shop-info .gift .gift-text{
    position: absolute;
   top: -795px;
   left: 82px;
   width: 200px;
   font-size: 16px;
}


#shop-info .h5{
    position: absolute;

}


#arrivals {
    position: relative;
}
#arrivals .container {
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 770px;
}

#arrivals .spray{
    height: 411px;
    position: relative;
    text-align: center;
    background-color: white;
    
    
}
#arrivals .spray a{
    position: absolute;
    font-size: 14px;
    color:yellow;
    bottom: 15px;
    left:114px;

    
}
#arrivals .spray h6{
    position: absolute;
    bottom: 35px;
    left:134px;
}
#arrivals .spray h5{
    position: absolute;
    bottom: 55px;
    left:36px;
}
#arrivals .spray span{
    color: gray;
    position: absolute;
    bottom: 85px;
    left:134px;
}
#arrivals .spray img{
    position: absolute;
    width: 100%;
    height: 290px;
    left: 0px;
}
#arrivals .mask{
    height: 411px;
    background-color: brown;
    position: relative;
}
#arrivals .mask{
    height: 411px;
    position: relative;
    text-align: center;
    background-color: white;
    
    
}
#arrivals .mask a{
    position: absolute;
    font-size: 14px;
    color:yellow;
    bottom: 15px;
    left:114px;

    
}
#arrivals .mask h6{
    position: absolute;
    bottom: 35px;
    left:134px;
}
#arrivals .mask h5{
    position: absolute;
    bottom: 55px;
    left:6px;
}
#arrivals .mask span{
    color: gray;
    position: absolute;
    bottom: 85px;
    left:134px;
}
#arrivals .mask img{
    position: absolute;
    width: 100%;
    height: 290px;
    left: 0px;
}
#arrivals .infrared{
    height: 411px;
    background-color: white;
    position: relative;
}
#arrivals .infrared{
    height: 411px;
    position: relative;
    text-align: center;
    
    
}
#arrivals .infrared a{
    position: absolute;
    font-size: 14px;
    color:yellow;
    bottom: 15px;
    left:114px;

    
}
#arrivals .infrared h6{
    position: absolute;
    bottom: 35px;
    left:134px;
}
#arrivals .infrared h5{
    position: absolute;
    bottom: 55px;
    left: 10px;
}
#arrivals .infrared span{
    color: gray;
    position: absolute;
    bottom: 85px;
    left:134px;
}
#arrivals .infrared img{
    position: absolute;
    width: 100%;
    height: 290px;
    left: 0px;
}

#arrivals .termometer{
    height: 411px;
    background-color: white;
    position: relative;
}
#arrivals .termometer{
    height: 411px;
    position: relative;
    text-align: center;
    
    
}
#arrivals .termometer a{
    position: absolute;
    font-size: 14px;
    color:yellow;
    bottom: 15px;
    left:114px;

    
}
#arrivals .termometer h6{
    position: absolute;
    bottom: 35px;
    left:134px;
}
#arrivals .termometer h5{
    position: absolute;
    bottom: 55px;
    left:36px;
}
#arrivals .termometer span{
    color: gray;
    position: absolute;
    bottom: 85px;
    left:134px;
}
#arrivals .termometer img{
    position: absolute;
    width: 100%;
    height: 290px;
    left: 0px;
}
#arrivals .arriveds span{
    position: absolute;
    top: 3px;
    right: 310px;
}


#images-5 .one{
    position: relative;
    width: 100%;
    height: 534px;
}
#images-5 .cont{
    position: relative;
}
#images-5 .two{
    width: 410px;
    height: 251px;
    position: absolute;
}
#images-5 .three{
    width: 410px;
    height: 251px;
    position: absolute;
    right: 0px;
}
#images-5 .four{
    width: 410px;
    height: 251px;
    position: absolute;
    left: 11px;
    bottom: 0px;
}
#images-5 .five{
    width: 410px;
    height: 251px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#images-5 img{
    width: 100%;
    height: 100%;
}
#images-5 .one-text{
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: 0px;
    right: 0px;
}
#images-5 .one-text a{
    font-size: 24px;
    color: white
}
#images-5 .one-text h1{
    font-size: 64px;
    color: white;
    font-weight: 800px;
}
#images-5 .one-text .bttn{
    border-radius: 20px;
    width: 140px;
}
#images-5 .two-text{
    position: absolute;
    width: 200px;
    height: 150px;
    top:45px;
    left: 40PX; 
}

#images-5 .two-text h1{
    font-weight: 800;
    font-size: 34px;
    color: black;
    font-weight: 800px;
}
#images-5 .two-text .bttn{
    border-radius: 20px;
    width: 140px;
}
#images-5 .three-text{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 40px;
}
#images-5 .three-text a{
    font-size: 24px;
    color: white
}
#images-5 .three-text h1{
    font-size: 34px;
    color: white;
    font-weight: 800px;
}
#images-5 .three-text .bttn{
    border-radius: 20px;
    width: 140px;
}
#images-5 .four-text{
    position: absolute;
    width: 200px;
    height: 300px;
    margin-left: 200px;
    margin-top: 70px; 
}

#images-5 .four-text h1{
    font-weight: 800;
    font-size: 34px;
    color: black;
    font-weight: 800px;
}
#images-5 .four-text .bttn{
    border-radius: 20px;
    width: 140px;
}
#images-5 .five-text{
    position: absolute;
    width: 140px;
    height: 90px;
    margin-top: 60px;
    margin-left: 240px;
}
#images-5 .five-text a{
    font-size: 15px;
    color: white
}
#images-5 .five-text h1{
    font-size: 30px;
    font-weight: 800px;
    color: white;
    font-weight: 800px;
}
#images-5 .five-text .bttn{
    border-radius: 20px;
    width: 140px;
}




  #info-corona h1 {
    position: absolute;
    top: 2374px;
    left: 100px;
    font-size: 40px;
    margin-bottom: 1em;
  }

  #info-corona p {
    position: absolute;
    top: 2461px;
    left: 100px;
    font-size: 18px;
    margin-bottom: 1em;
  }

  #info-corona .img .corona{
    position: absolute;
    top: 2359px;
    left: 780px;
  }

  
#important .container {
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 800px;
  }
  
  #important .card1 {
    width: 319px;
    height: 250px;
    margin-top: 30px;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px 1px #888888;
  }
  
  #important .card1 img {
    width: 4cm;
    height: 4cm;
    position: absolute;
    left: 90px;
    top: 30px;
  }
  
  #important .card1 h6 {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }
  
  #footer{
    padding-top: 400px;
  }

  #footer .about h5{
    font-size: 20px;

}

#footer .about{
    position: absolute;
    top: 3100px;
    left: 100px;
}

#footer .contact h5{
    font-size: 20px;

} 

#footer .contact{
    position: absolute;
    top: 3100px;
    left: 400px;
}


#footer .links h5{
    font-size: 20px;

} 

#footer .links{
    position: absolute;
    top: 3100px;
    left: 750px;
}


#footer .social h5{
    font-size: 20px;

} 

#footer .social ul {
     position: absolute;
    top: 3100px;
    left: 1000px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 13px;
    padding-left: 1px;
    padding-right: 12px;
  }
  

#footer .social ul li {
   
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: white;
    padding-left: 7px;
    padding-top: 4px;
  }
  

  #footer .social li i {
    font-size: 20px;
    color: #33cad5;
  }

  #footer .footers{
    width: 1900px;
    height: 500px;
  }
  














  
